
<fieldset>

  <form action="/a/s">

    <div id="ue-review-form-body">
      <div style="display:flex; justify-content: space-between;">
        <div class="col-md-6 col-sm-12 pr-10" >
          <label >Name</label>
          <input class="col-md-12" id="description" name="review[customer_name]" ><br>
        </div>

        <div class="col-md-6 col-sm-12 pl-10" >
          <label>Email</label>
          <input  class="col-md-12" id="email" name="review[customer_email]"><br>
        </div>
      </div>
      <br>

      <div>
        <label >Title of Review</label>
        <input class="col-md-12" id="title" name="review[title]"><br>
      </div>
      <br>

      <div>
        <label >How was your overall experience</label>
        <textarea class="col-md-12" id="title" name="review[description]"> </textarea><br>
      </div>
      <br>

    </div>

    <div style="text-align: right">
      <button type="submit" >Submit Review</button>
    </div>
  </form>
</fieldset>