#   <form action="http://localhost:3001/reviews">
  
#   <input type="radio" id="five" name="rating" value="five">
#   <label for="five"><span style="font-size:17px;line-height:23px;color:#4278aa" >★★★★★</span></label>
#   <input type="radio" id="four" name="rating" value="four">
#   <label for="four"><span style="font-size:17px;line-height:23px;color:#4278aa" >★★★★</span></label>
#   <input type="radio" id="three" name="rating" value="three">
#   <label for="three"><span style="font-size:17px;line-height:23px;color:#4278aa">★★★</span></label>
#     <input type="radio" id="two" name="rating" value="two">
#     <label for="tow"><span style="font-size:17px;line-height:23px;color:#4278aa" >★★</span></label>
#   	<input type="radio" id="one" name="rating" value="one">
#    <label for="one"><span style="font-size:17px;line-height:23px;color:#4278aa">★</span></label><br>
  
# <br/>
#   <label for="title">Title of Review</label><br>
#   <input type="text" id="title" name="title" value="John" style="width: 100%; height: 25px; margin-bottom: 10px"><br>
#   <label for="lname">How was your overall experience using the item?</label><br>
#   <textarea  id="lname" name="lname" value="Doe" style="width: 100%; min-height:100px;"></textarea><br><br>
#   <input type="submit" value="Submit">
# </form> 